* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu';
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./font/Ubuntu.eot');
    src: url('./font/Ubuntu.eot?#iefix') format('embedded-opentype'),
        url('./font/Ubuntu.woff') format('woff'),
        url('./font/Ubuntu.ttf') format('truetype'),
        url('./font/Ubuntu.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('./font/JetBrainsMono.eot');
    src: url('./font/JetBrainsMono.eot?#iefix') format('embedded-opentype'),
        url('./font/JetBrainsMono.woff') format('woff'),
        url('./font/JetBrainsMono.ttf') format('truetype'),
        url('./font/JetBrainsMono.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cavea';
    src: url('./font/Cavea.eot');
    src: url('./font/Cavea.ttf') format('embedded-opentype'),
        url('./font/Cavea.woff') format('woff'),
        url('./font/Cavea.ttf') format('truetype'),
        url('./font/Cavea.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}